.foreCastBoxes {
    background-color: rgb(13, 110, 255);
    color: white;
}

.searchBoxContainer {
    background-color: #f5f8fa;
    opacity: 0.8;
}

.borderColor {
    /* border-color: #f5f8fa; */
    opacity: 0.8;
}

body {
    background-image: url("../images/weatherbg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Yanone Kaffeesatz', serif;
}

.col-sm-5 img {
    width: 300px;
    height: 200px;
}

.circle {
    width: 200px;
    height: 200px;
    background: rgb(13, 110, 255);
    border-radius: 50%
}

.foreCastBoxes {
    box-shadow: 0px 0px 10px rgba(235, 25, 25, 0.555);
    border-radius: 7px;
}

.foreCastBoxes:hover {
    box-shadow: 0px 0px 20px rgba(180, 20, 20, 0.829);
    transition: .3s;
}